<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.performance.multisheetcalculate</id>
    <name><![CDATA[多sheet缓存数据集]]></name>
    <active>yes</active>
    <hidden>yes</hidden>
    <version>1.0</version>
    <env-version>8.0</env-version>
    <jartime>2017-5-13</jartime>
    <vendor>finereport.rinoux</vendor>
    <description><![CDATA[多sheet情况下缓存数据集，避免重复加载]]></description>
    <change-notes><![CDATA[]]></change-notes>
    <extra-core>
        <SessionCachedDataModelProcessor class="com.fr.plugin.performance.multisheetcalculate.MultiSheetCalculator"/>
    </extra-core>
</plugin>