<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.performance.newtab</id>
    <name>设计器启动打开新的空报表</name>
    <active>yes</active>
    <hidden>yes</hidden>
    <version>1.0</version>
    <env-version>8.0</env-version>
    <jartime>2016-12-16</jartime>
    <vendor>finereport.rinoux</vendor>
    <description><![CDATA[设计器每次启动都会默认打开上次关闭设计器前打开的报表，这个加载过程比较耗时。此插件可以帮助每次启动仅打开一个空的报表。]]></description>
    <change-notes><![CDATA[完成功能]]></change-notes>
    <extra-designer>
        <DesignerStartOpenFileProcessor class="com.fr.plugin.performance.dzstartemptyfile.DesignerStartWithEmptyFile"/>
    </extra-designer>
</plugin>