<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.performance.pdfstream</id>
    <name>全新PDF导出打印</name>
    <active>yes</active>
    <hidden>yes</hidden>
    <version>1.0</version>
    <env-version>8.0</env-version>
    <jartime>2016-09-02</jartime>
    <vendor>finereport.daniel</vendor>
    <description><![CDATA[全球效率第一的pdf导出打印]]></description>
    <change-notes><![CDATA[]]></change-notes>
    <extra-core>
        <PDFExporterCreator class="com.fr.plugin.performance.pdfstream.PDFStreamExporterCreator"/>
    </extra-core>
</plugin>