@charset "utf-8";

/* scheduler */
.k-widget, .k-widget *, .k-widget *::before, .k-block .k-header { -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.k-scheduler .k-header.k-scheduler-toolbar { background-color:#f7f7f7;}
.k-scheduler .k-header.k-scheduler-toolbar .k-header { background-color:#f8f8f8;}
.k-scheduler .k-header.k-scheduler-toolbar .k-header.k-state-hover, .k-scheduler .k-header.k-scheduler-toolbar .k-view-timeline.k-state-hover, .k-scheduler .k-header.k-scheduler-toolbar .k-view-day.k-state-hover, .k-scheduler .k-header.k-scheduler-toolbar .k-view-week.k-state-hover, .k-scheduler .k-header.k-scheduler-toolbar .k-view-month.k-state-hover { background-color:#dfdfdf;}
.k-scheduler .k-header.k-scheduler-toolbar .k-view-day.k-state-selected, .k-scheduler .k-header.k-scheduler-toolbar .k-view-week.k-state-selected, .k-scheduler .k-header.k-scheduler-toolbar .k-view-month.k-state-selected { border-color:#f35800; background-color:#f35800;}
.k-scheduler .k-header.k-scheduler-toolbar .k-view-day.k-state-selected .k-link, .k-scheduler .k-header.k-scheduler-toolbar .k-view-week.k-state-selected .k-link, .k-scheduler .k-header.k-scheduler-toolbar .k-view-month.k-state-selected .k-link { color:#fff;}
.k-scheduler .k-header.k-scheduler-toolbar .k-header .k-i-arrow-w { background-position:-65px -141px!important;}
.k-scheduler .k-header.k-scheduler-toolbar .k-header .k-i-arrow-e { background-position:-65px -122px!important;}
.k-scheduler .k-header.k-scheduler-toolbar .k-lg-date-format { position:relative; top:1px;}
.k-scheduler-toolbar, .k-scheduler-footer { line-height:22px;}
.k-edit-form-container .k-edit-buttons { display:none;}
.k-scheduler-edit-form .k-edit-form-container, .k-scheduler-timezones .k-edit-form-container { width:auto;}
.k-window>div.k-popup-edit-form { padding:0;}
.k-tooltip.k-widget.k-group.k-popup { border:0; background:none; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
.k-tooltip.k-widget.k-group.k-popup .k-callout { border-width:0;}
.k-event.k-event-inverse { color:#303030;}
.k-event.k-event-inverse.k-state-selected { color:#fff;}
.k-event, .k-task-complete { border:none;}
:first-child.k-event-actions { margin:0;}
.k-scheduler-layout.k-scheduler-dayview .k-event, .k-scheduler-layout.k-scheduler-weekview .k-event, .k-scheduler-layout.k-scheduler-monthview .k-event, .k-scheduler-layout.k-scheduler-timelineview .k-event { display:table; table-layout:fixed;}
.k-scheduler-layout.k-scheduler-dayview .k-event>div, .k-scheduler-layout.k-scheduler-weekview .k-event>div, .k-scheduler-layout.k-scheduler-monthview .k-event>div, .k-scheduler-layout.k-scheduler-timelineview .k-event>div { display:table-cell;width:100%;text-align:center;vertical-align:middle; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.k-scheduler-layout.k-scheduler-dayview .k-event>.noresvtp { background-color:#ef5f5f;color:#fff;white-space:normal;}
.k-scheduler .k-state-selected, .k-scheduler .k-state-selected.k-today { border-color:#c5c5c5; background-color:#fff9c9;}
.k-scheduler .k-event, .k-scheduler .k-state-selected.k-event { border-color:#a8c2d7; background-color:#a8c2d7; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
.k-scheduler .k-state-selected > .k-link { color:#2e2e2e;}
.k-scheduler .k-other-month, .k-scheduler .k-other-month .k-link { color:#9f9e9e;}
.k-scheduler-header .k-scheduler-table .k-slot-cell .k-link { position:relative; top:2px;}
.k-tooltip { padding:5px 4px 3px 5px;}
.k-scrollbar-h tr+tr .k-scheduler-times { border-bottom-width:0;}
.k-scrollbar-h tr+tr .k-scheduler-times tr:last-child>th { border-bottom-width:1px;}
.k-event, .k-task-complete { background-image:none;}

/* reset */
html { font-size:1em}
body { font-size:0.75em}
label { cursor:pointer}
a:link, a:visited { text-decoration:none}
a:hover, a:focus, a:active { text-decoration:none}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, td, video, tt, u, ul, var { margin:0; padding:0}
h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea { color:#303030; font-family:Microsoft YaHei;}
:lang(zh) body, :lang(zh) input, :lang(zh) button, :lang(zh) select, :lang(zh) textarea { font-family:Microsoft YaHei;}
:lang(en) body, :lang(en) input, :lang(en) button, :lang(en) select, :lang(en) textarea { font-family:Microsoft YaHei;}
em, cite, address, optgroup { font-style:normal}
img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table { border-spacing:0; border-collapse:collapse;}
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block}
mark, rp, rt, ruby, summary, time{ display:inline}
h1, h2, h3, h4, h5, h6, strong, th { font-weight:bold;}
.clfix:after { content:""; display:block; height:0; clear:both; visibility:hidden}
.hidden { visibility:hidden; position:absolute; font-size:0; width:0; height:0; line-height:0; margin:0; padding:0; background:none}
.dis_none { display:none!important;}

/* layout */
html, body { height:100%; background-color:#131921;}
#wrap { min-width:1000px; height:100%; line-height:1.1; -webkit-text-size-adjust:none;}

.al { text-align:left!important;}
.ar { text-align:right!important;}
.ac { text-align:center!important;}
.vt { vertical-align:top!important;}
.vm { vertical-align:middle!important;}

/* 서비스진도보드 */
.board_header { overflow:hidden; padding:21px 0 21px 20px; border-bottom:1px solid #1c222a;}
.board_header .board_logo { float:left; width:265px; height:46px; background:url(../img/board_logo.png) no-repeat 0 0;}
.board_header h1 { float:left; margin-left:13px; font-size:36px; color:#5be2ff;}
.board_header .date_time { float:right; margin:3px 18px 0 0; font-size:36px; font-weight:bold; color:#fff38e;}

/* table_list_kb */
.table_list_kb { border-top:0px solid #0a1118;}
.table_list_kb.table_header { padding-right:17px; background-color:#1e3147;}
.table_list_kb.table_scroll { overflow-x:hidden; overflow-y:scroll; max-height:449px;}
.table_list_kb table { width:100%;}
.table_list_kb th { height:68px; padding-right:5px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; background:#1e3147; font-size:21px;}
.table_list_kb td { height:85px; padding:2px 5px 0; border-right:1px solid #2c3239; border-bottom:1px solid #2c3239; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; word-break:break-all; color:#fff; font-size:21px; text-align:center;}
.table_list_kb td.al { padding-left:15px;}
.table_list_kb tbody tr { background-color:#1c222a;}
.table_list_kb tbody tr:nth-child(2n) { background-color:#1f252e;}
.table_list_kb th:last-child, .table_list_kb td:last-child { border-right:0;}
.table_list_kb tbody th { border-top:none; border-right:1px solid #2c3239; border-bottom:0px solid #2c3239; background:none; color:#fff; font-weight:bold;}
.table_list_kb .txt_white { color:#fff; }
.table_list_kb .txt_red { color:#ff0000; }
.table_list_kb .txt_orange { color:#ffc000; }
.table_list_kb .txt_yellow { color:#ffff00; }
.table_list_kb .txt_green { color:#92d050; }
.table_list_kb .txt_blue1 { color:#00b0f0; }
.table_list_kb .txt_blue2 { color:#0070c0; }

/* 대시보드_예약현황 */
.reserv_header { overflow:hidden; padding:13px 0 13px 20px;}
.reserv_header .reserv_logo { float:left; width:184px; height:32px; background:url(../img/reserv_logo.png) no-repeat 0 0;}
.reserv_header h1 { float:left; margin-left:13px; margin-top:2px; font-size:23px; color:#5be2ff;}
.reserv_header .right_area { float:right; margin-top:-4px; font-size:23px; font-weight:bold; white-space:nowrap;}
.reserv_header .date_time { display:inline-block; color:#fff38e;}
.reserv_header .reserv_status { display:inline-block; margin-left:10px; padding-left:20px; background:url(../img/reserv_line.png) no-repeat 0 7px;}
.reserv_header .reserv_status > span { margin-right:20px;}
.reserv_header .reserv_status > span.status1 { color:#3fd83f;}
.reserv_header .reserv_status > span.status1 > em { display:inline-block; position:relative; top:6px; width:28px; height:28px; margin-right:8px; background-color:#3fd83f; -webkit-border-radius:14px; -moz-border-radius:14px; border-radius:14px;}
.reserv_header .reserv_status > span.status2 { color:#5a5f63;}
.reserv_header .reserv_status > span.status2 > em { display:inline-block; position:relative; top:6px; width:28px; height:28px; margin-right:8px; background-color:#5a5f63; -webkit-border-radius:14px; -moz-border-radius:14px; border-radius:14px;}
.reserv_header .reserv_status > span.status3 { color:#ff5307;}
.reserv_header .reserv_status > span.status3 > em { display:inline-block; position:relative; top:7px; width:30px; height:30px; margin-right:8px; background:url(../img/reserv_ico1.png) no-repeat 0 0; -webkit-border-radius:14px; -moz-border-radius:14px; border-radius:14px;}
.reserv_header .reserv_status > span.status4 { color:#ff5307;}
.reserv_header .reserv_status > span.status4 > em { display:inline-block; position:relative; top:7px; width:30px; height:30px; margin-right:8px; background:url(../img/reserv_ico2.png) no-repeat 0 0; -webkit-border-radius:14px; -moz-border-radius:14px; border-radius:14px;}

.reserv_scheduler .k-scheduler { border-color:#0a1118; background-color:#131921;}
.reserv_scheduler .k-scheduler .k-scrollbar-v .k-scheduler-header { background-color:#1e3147;}
.reserv_scheduler .k-scheduler .k-scrollbar-v .k-scheduler-header-wrap { border-color:#25374d;}
.reserv_scheduler .k-scheduler-views, .reserv_scheduler .k-scheduler-refresh { display:none;}
.reserv_scheduler .k-scheduler-toolbar { display:none!important;}
.reserv_scheduler .k-scheduler-toolbar .k-scheduler-navigation li .k-link { padding:0 10px; border-radius:0!important; color:#303030!important;}
.reserv_scheduler .k-scheduler-toolbar .k-scheduler-navigation .k-nav-today, .reserv_scheduler .k-scheduler-toolbar .k-scheduler-navigation .k-nav-prev, .reserv_scheduler .k-scheduler-toolbar .k-scheduler-navigation .k-nav-next { display:none!important;}
.reserv_scheduler .k-scheduler-toolbar .k-scheduler-navigation .k-nav-current { margin:0;}
.reserv_scheduler .k-scheduler-toolbar .k-scheduler-navigation .k-nav-current .k-link .k-i-calendar { width:18px; height:18px; background-image:url(../img/wa/btn_cal.png); background-position:50% 50%; background-size:18px 18px;}
.reserv_scheduler .k-scheduler-toolbar li.k-nav-current .k-sm-date-format { display:inline; font-weight:bold;}
.reserv_scheduler .k-scheduler-toolbar li.k-nav-current .k-lg-date-format { display:none;}
.reserv_scheduler .k-scheduler-layout.k-scheduler-timelineview td .k-scheduler-times>.k-scheduler-table { width:80px;}
.reserv_scheduler .k-scheduler-layout.k-scheduler-timelineview td .k-scheduler-times>.k-scheduler-table th.k-slot-cell { background-color:#1c222a; text-align:center; vertical-align:middle; color:#fff; font-size:28px;}
.reserv_scheduler .k-scheduler-layout.k-scheduler-timelineview td .k-scheduler-times>.k-scheduler-table tr:nth-child(2n) th.k-slot-cell { background-color:#1f252e;}
.reserv_scheduler .k-scheduler-layout.k-scheduler-timelineview>tbody>tr:first-child .k-scheduler-times>.k-scheduler-table>tbody>tr:first-child, .reserv_scheduler .k-scheduler-layout.k-scheduler-timelineview>tbody>tr:first-child .k-scheduler-header>.k-scheduler-header-wrap>.k-scheduler-table>tbody>tr:first-child { display:none!important;}
.reserv_scheduler .k-scheduler-layout.k-scheduler-timelineview .k-scheduler-times { border-right:1px solid #2c3239;}
.reserv_scheduler .k-scheduler-layout.k-scheduler-timelineview .k-scheduler-times th { padding:0; border-right-width:0;}
.reserv_scheduler .k-scheduler-layout.k-scheduler-timelineview .k-scheduler-content .k-scheduler-table tr td { border-color:#2c3239;}
.reserv_scheduler .k-scheduler-layout.k-scheduler-timelineview .k-event { display:block; table-layout:auto; padding:3px 0 0 3px; border-width:0; background:none; color:#303030; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}
.reserv_scheduler .k-scheduler-layout.k-scheduler-timelineview .k-event>.reserv_event_template { display:block; position:relative; height:100%; padding:2px; background-color:#3fd83f; text-align:left; vertical-align:top; white-space:normal; text-overflow:initial; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.reserv_scheduler .reserv_event_template .txt1 { height:48px; padding-top:15px; background-color:#1c222a; color:#3fd83f; font-size:20px; font-weight:bold; text-align:center;}
.reserv_scheduler .reserv_event_template .txt_box .reserv_ico1 { display:inline-block; position:relative; top:6px; width:30px; height:30px; margin-left:9px; background-image:url(../img/reserv_ico1.png);  background-repeat:no-repeat; background-position:0 0;}
.reserv_scheduler .reserv_event_template .txt_box .reserv_ico2 { display:inline-block; position:relative; top:6px; width:30px; height:30px; margin-left:5px; background-image:url(../img/reserv_ico2.png);  background-repeat:no-repeat; background-position:0 0;}
.reserv_scheduler .reserv_event_template .txt_box .txt2 { position:relative; top:3px; margin-left:12px; font-size:28px; font-weight:bold; color:#1c222a;}
.reserv_scheduler .reserv_event_template .txt_box .reserv_ico1.off { background-image:url(../img/reserv_ico1_off.png);}
.reserv_scheduler .reserv_event_template .txt_box .reserv_ico2.off { background-image:url(../img/reserv_ico2_off.png);}
.reserv_scheduler .k-scheduler-layout.k-scheduler-timelineview .k-event>.reserv_event_template.off { background-color:#5a5f63;}
.reserv_scheduler .reserv_event_template.off .txt1 { color:#5a5f63;}
.reserv_scheduler .reserv_event_template.off .txt_box .reserv_ico1 { background-image:url(../img/reserv_ico3.png);}
.reserv_scheduler .reserv_event_template.off .txt_box .reserv_ico2 { background-image:url(../img/reserv_ico4.png); }
.reserv_scheduler .reserv_event_template.off .txt_box .reserv_ico1.off { background-image:url(../img/reserv_ico3_off.png);}
.reserv_scheduler .reserv_event_template.off .txt_box .reserv_ico2.off { background-image:url(../img/reserv_ico4_off.png);}

.reserv_scheduler .k-scheduler-header th { vertical-align:middle;}
.reserv_scheduler .k-scheduler-times tr, .reserv_scheduler .k-scheduler-times th, .reserv_scheduler .k-scheduler-table td, .reserv_scheduler .k-scheduler-header th, .reserv_scheduler .k-scheduler .k-state-selected, .reserv_scheduler .k-scheduler .k-state-selected.k-today { border-color:#2f343d;}
.reserv_scheduler .k-scheduler-table td, .reserv_scheduler .k-scheduler-table td.k-today,
.reserv_scheduler .k-scheduler-table td.k-nonwork-hour,
.reserv_scheduler .k-scheduler-table td.k-state-selected,
.reserv_scheduler .k-scheduler-table td.k-state-selected.k-today,
.reserv_scheduler .k-scheduler-table td.k-nonwork-hour.k-state-selected { background-color:#1c222a; background-image:none;}
.reserv_scheduler .k-scheduler-table tr:nth-child(2n) td, .reserv_scheduler .k-scheduler-table tr:nth-child(2n) td.k-today,
.reserv_scheduler .k-scheduler-table tr:nth-child(2n) td.k-nonwork-hour,
.reserv_scheduler .k-scheduler-table tr:nth-child(2n) td.k-state-selected,
.reserv_scheduler .k-scheduler-table tr:nth-child(2n) td.k-state-selected.k-today,
.reserv_scheduler .k-scheduler-table tr:nth-child(2n) td.k-nonwork-hour.k-state-selected { background-color:#1f252e; background-image:none;}
.reserv_scheduler .k-scheduler-layout.k-scheduler-timelineview>tbody>tr:first-child .k-scheduler-table th { padding-top:.29em; padding-bottom:.29em; border-left-color:#25374d; border-bottom-color:#0a1118; background-color:#1e3147; color:#fefefe; font-size:24px;}
.reserv_scheduler .status_num { margin-left:10px; font-weight:normal;}
