@charset "utf-8";

/* 헤더 색상 */
/* header#dms_header{background-color:#44495f;} */

/* 메뉴트리 색상 */
/* #menu_wrapper {height:100%;background-color:#106bc8;font-size:14px; !important;}	 */

/* 탭메뉴바 관련색상 */
/* #mainTab ul {background:#106bc8;border-bottom:2px solid #fff;margin-right:1px} */
/* #mainTab ul li.k-state-active {width:auto;padding:0 7px 0 7px; vertical-align:middle;background:#fff;border-radius:5px 5px 0 0;} */
/* #mainTab ul li span.k-link {color:#333;line-height:19px;} */


/* 조회조건 영역 색상 */
/* .search_section_1{background:#f9f9f9;} */
/* .search_section_2{background:#f5f5f5;} */

/* footer */
/* #footer{background:#e9e9e9;border-top:1px solid #d3d3d3;color:#333;}  */



/* 기본 그리드 헤더 컬럼 */
/* .k-grid-header{background:#44495f;} */
/* .k-grid thead th{height:20px;background:#44495f;line-height:20px;vertical-align:middle;} */
/* .k-grid-header th.k-header, .k-filter-row th{text-align:center;color:#fff;padding:2px 3px 0px 3px;border-bottom:1px solid #c5c5c5;} */
/* .k-grid-header .k-header > .k-link{color:#fff;} */



/* 탭 하위그리드 */
/* .k-tabstrip.k-widget div .k-grid thead th{height:20px;background:#dedede;line-height:20px;vertical-align:middle;color:#333;} */
/* .k-tabstrip.k-widget div .k-grid thead th a.k-link{color:#333;} */
/* .k-tabstrip.k-widget div .k-grid-header{background:#dedede;} */


/* 그리드 컨텐츠 영역 */
/* .k-grid-content{background:#f5f5f5;} */

/* 그리드 페이징 영역 */
/* .k-pager-wrap{background-color:#e3e3e3;color:#2e2e2e} */

/* 그리드 선택 색상 */
/* .k-state-selected td{background:#deeaf8 !important;color:#0b5db3;} */



