<plugin>
    <id>com.fr.plugin.performance.fasttree</id>
    <name>下拉树前台极速构建</name>
    <active>yes</active>
    <hidden>yes</hidden>
    <version>1.0</version>
    <env-version>8.0</env-version>
    <jartime>2016-12-5</jartime>
    <vendor>finereport.ju</vendor>
    <description><![CDATA[下拉树前台快速构建]]></description>
    <change-notes><![CDATA[]]></change-notes>
    <extra-core>
        <JavaScriptFileHandler class="com.fr.plugin.performance.fasttree.FastTreeJSHandler"/>
    </extra-core>
</plugin>