<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.performance.lazyreadresource</id>
    <name>资源文件合并加载</name>
    <active>yes</active>
    <hidden>yes</hidden>
    <version>1.0</version>
    <env-version>8.0</env-version>
    <jartime>2017-5-13</jartime>
    <vendor>finereport.rinoux</vendor>
    <description><![CDATA[合并同一文件的多个加载请求，并缓存指定的文件]]></description>
    <change-notes><![CDATA[]]></change-notes>
    <extra-core>
        <ResourceReadProcessor class="com.fr.plugin.performance.lazyreadresource.LazyResourceReader"/>
    </extra-core>
</plugin>