<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.performance.newexecutetool</id>
    <name><![CDATA[带缓存的格子关系运算]]></name>
    <active>yes</active>
    <hidden>yes</hidden>
    <version>1.0</version>
    <env-version>8.0</env-version>
    <jartime>2017-5-13</jartime>
    <vendor>finereport.daniel</vendor>
    <description><![CDATA[缓存格子扩展关系运算过程中的扩展结果，加速扩展结果，对动态折叠树特别有效]]></description>
    <change-notes><![CDATA[无]]></change-notes>
    <extra-core>
        <ToolForExecuteProcessor class="com.fr.plugin.performance.newexecutetool.CacheToolProcessor"/>
    </extra-core>
</plugin>