<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- <Logger name="java.sql" level="debug" additivity="true">
            <AppenderRef ref="debug" />
        </Logger>
        <Logger name="org.apache.ibatis" level="debug" additivity="true">
            <AppenderRef ref="debug" />
        </Logger> -->
        <Logger name="egovframework" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="able" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.security" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.ws.client.core" level="debug" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.apache.tiles" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="com.mchange" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="com.fr.third.org" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.quartz" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="chn.bhmc.dms.cmm.core.security.filter" level="debug" additivity="false">
            <AppenderRef ref="console" />
        </Logger> 



        <!-- log4jdbc remix 셋팅 -->
        <Logger name="jdbc.audit" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.sqltiming" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.resultset" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.resultsettable" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.connection" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <!-- log4jdbc remix 셋팅 -->
        <Root level="DEBUG">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
