<plugin>
    <id>com.fr.plugin.performance.cachedprocess</id>
    <name>上报任务缓存</name>
    <active>yes</active>
    <hidden>yes</hidden>
    <version>1.0</version>
    <env-version>8.0</env-version>
    <jartime>2016-12-15</jartime>
    <vendor>finereport.ju</vendor>
    <description><![CDATA[缓存上报任务的相关信息，可快速查看当前任务]]></description>
    <change-notes><![CDATA[]]></change-notes>
    <extra-report>
        <ProcessNodeDaoProcessor class="com.fr.plugin.performance.cachedprocess.dao.ProcessNodeDAO"/>
        <ProcessTaskDaoProcessor class="com.fr.plugin.performance.cachedprocess.dao.ProcessTaskDAO"/>
        <ProcessTaskImpDaoProcessor class="com.fr.plugin.performance.cachedprocess.dao.ProcessTaskImplDAO"/>
        <ReportProcessDaoProcessor class="com.fr.plugin.performance.cachedprocess.dao.ReportProcessDAO"/>
        <ProcessOperatorCreator class="com.fr.plugin.performance.cachedprocess.operator.ProcessOperatorCreator"/>
    </extra-report>
</plugin>