<?xml version="1.0" encoding="UTF-8"?>
<!-- profile dms-local -->
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="debug" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.beans.factory.support" level="info" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.security" level="error" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.apache.tiles" level="error" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.apache.activemq.transport" level="info" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="chn.bhmc.dms.cmm.core.security.filter" level="debug" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="net.sf" level="debug" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <!-- log4jdbc remix 셋팅 -->
        <Logger name="jdbc.audit" level="warn" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.sqlonly" level="debug" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.sqltiming" level="warn" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.resultset" level="warn" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.resultsettable" level="warn" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.connection" level="warn" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <!-- log4jdbc remix 셋팅 -->

        <Root level="debug">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
