<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <!--APP ERROR LOG-->
        <RollingFile name="APP_ERROR_LOG" fileName="/home/jeus/jeus/logs/error.log" filePattern="/home/jeus/jeus/logs/error/$${date:yyyy-MM}/app_error-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[DCSWEB_APP_ERROR] %d %-5p [%c:%L] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingFile>

        <!--APP ERROR LOG-->
        <RollingFile name="INF_MONITOR_LOG" fileName="/home/jeus/jeus/logs/monitor.log" filePattern="/home/jeus/jeus/logs/monitor/$${date:yyyy-MM}/inf_monitor-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[DCSWEB_INF_MONITOR] %d %-5p [%c:%L] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="chn.bhmc.dms.app.log.error" level="ERROR" additivity="true">
            <AppenderRef ref="APP_ERROR_LOG"/>
        </Logger>
        <Logger name="chn.bhmc.dms.inf.log.monitor" level="DEBUG" additivity="false">
            <AppenderRef ref="INF_MONITOR_LOG"/>
        </Logger>
        <Logger name="chn.bhmc.dms.cmm.core.security.filter" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger> 
        <Root level="ERROR">
            <AppenderRef ref="APP_ERROR_LOG"/>
        </Root>
    </Loggers>
</Configuration>