<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <!-- SqlSession setup for MyBatis Database Layer-->
    <bean id="sqlMigSession" class="able.com.mybatis.ReloadableSqlSessionFactoryBean">
        <property name="dataSource" ref="migDataSource" />
        <property name="configLocation" value="classpath:sqlmap/sql-mapper-config.xml" />
        <property name="mapperLocations" value="classpath*:sqlmap/oracle/**/Mig*DAO_SqlMap.xml" />
    </bean>

    <bean class="able.com.mybatis.MigMapperConfigurer">
        <property name="basePackage" value="chn.bhmc.**.*mig*.**.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlMigSession"/>
    </bean>
</beans>
