<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.performance.reducecalculation</id>
    <name><![CDATA[相同数据集归并加载]]></name>
    <active>yes</active>
    <hidden>yes</hidden>
    <version>1.0</version>
    <env-version>8.0</env-version>
    <jartime>2017-5-13</jartime>
    <vendor>finereport.rinoux</vendor>
    <description><![CDATA[归并相同数据集的加载过程]]></description>
    <change-notes><![CDATA[]]></change-notes>
    <extra-core>
        <DataModelFillProcessor class="com.fr.plugin.performance.reducecalculation.ReduceDataModelFillProcessor"/>
    </extra-core>
</plugin>