<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.performance.imageparser</id>
    <name><![CDATA[图片转换插件]]></name>
    <active>yes</active>
    <hidden>yes</hidden>
    <version>1.0</version>
    <env-version>8.0</env-version>
    <jartime>2016-12-09</jartime>
    <vendor>finereport.loy</vendor>
    <description><![CDATA[由byte数组到Image对象的转换插件，比内置的转换器更高效]]></description>
    <change-notes><![CDATA[]]></change-notes>
    <extra-core>
        <ImageParserProcessor class="com.fr.plugin.performance.imageparser.ImageParserImpl"/>
    </extra-core>
</plugin>