<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <!--APP ERROR LOG-->
        <RollingFile name="APP_ERROR_LOG" fileName="D:/logs/bhmc-dms-app/error.log" filePattern="D:/logs/bhmc-dms-app/$${date:yyyy-MM}/app_error-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[DMSWEB_APP_ERROR] %d %-5p [%c:%L] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingFile>

        <!--APP ERROR LOG-->
        <RollingFile name="INF_MONITOR_LOG" fileName="D:/logs/bhmc-dms-app/monitor.log" filePattern="D:/logs/bhmc-dms-app/$${date:yyyy-MM}/inf_monitor-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[DMSWEB_INF_MONITOR] %d %-5p [%c:%L] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="chn.bhmc.dms.app.log.error" level="DEBUG" additivity="false">
            <AppenderRef ref="APP_ERROR_LOG"/>
        </Logger>
        <Logger name="chn.bhmc.dms.inf.log.monitor" level="INFO" additivity="false">
            <AppenderRef ref="INF_MONITOR_LOG"/>
        </Logger>
        <Logger name="chn.bhmc.dms.cmm.core.security.filter" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="APP_ERROR_LOG"/>
        </Root>
    </Loggers>
</Configuration>