<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <!-- SqlSession setup for MyBatis Database Layer
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">-->
    <bean id="sqlSession" class="able.com.mybatis.ReloadableSqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:sqlmap/sql-mapper-config.xml" />
        <property name="mapperLocations" value="classpath*:sqlmap/oracle/**/*_SqlMap.xml" />
        <property name="typeAliasesPackage" value="
             chn.bhmc.dms.bat.mgr.vo
            ,chn.bhmc.dms.bat.par.pcm.vo
            ,chn.bhmc.dms.bat.par.ism.vo
            ,chn.bhmc.dms.bat.sal.inc.vo
            ,chn.bhmc.dms.bat.sal.usc.vo
            ,chn.bhmc.dms.bat.sal.fas.vo
            ,chn.bhmc.dms.bat.sal.stk.vo
            ,chn.bhmc.dms.bat.sal.orc.vo
            ,chn.bhmc.dms.bat.sal.dlv.vo
            ,chn.bhmc.dms.bat.ser.ro.vo
            ,chn.bhmc.dms.bat.ser.svi.vo
            ,chn.bhmc.dms.bat.ser.rcv.vo
            ,chn.bhmc.dms.bat.cmm.sms.vo
            ,chn.bhmc.dms.bat.cmm.itg.vo
            ,chn.bhmc.dms.bat.crm.css.vo
            ,chn.bhmc.dms.bat.crm.cif.vo
            ,chn.bhmc.dms.bat.crm.crq.vo
            ,chn.bhmc.dms.bat.crm.cmm.vo
            ,chn.bhmc.dms.bat.crm.dmm.vo
            ,chn.bhmc.dms.bat.crm.mcm.vo
            ,chn.bhmc.dms.bat.crm.cso.vo
            ,chn.bhmc.dms.bat.mis.vo

            ,chn.bhmc.dms.cmm.apr.vo
            ,chn.bhmc.dms.cmm.ath.vo
            ,chn.bhmc.dms.cmm.bbs.vo
            ,chn.bhmc.dms.cmm.cmp.vo
            ,chn.bhmc.dms.cmm.mail.vo
            ,chn.bhmc.dms.cmm.mig.vo
            ,chn.bhmc.dms.cmm.nms.vo
            ,chn.bhmc.dms.cmm.ptl.vo
            ,chn.bhmc.dms.cmm.sci.vo
            ,chn.bhmc.dms.cmm.sms.vo
            ,chn.bhmc.dms.cmm.tmp.vo
            ,chn.bhmc.dms.cmm.pay.vo

            ,chn.bhmc.dms.core.vo

            ,chn.bhmc.dms.crm.ass.vo
            ,chn.bhmc.dms.crm.cal.vo
            ,chn.bhmc.dms.crm.cif.vo
            ,chn.bhmc.dms.crm.crq.vo
            ,chn.bhmc.dms.crm.cso.vo
            ,chn.bhmc.dms.crm.css.vo
            ,chn.bhmc.dms.crm.mcm.vo
            ,chn.bhmc.dms.crm.slm.vo
            ,chn.bhmc.dms.crm.cmm.vo
            ,chn.bhmc.dms.crm.dmm.vo

            ,chn.bhmc.dms.par.cmm.vo
            ,chn.bhmc.dms.par.dlm.vo
            ,chn.bhmc.dms.par.ism.vo
            ,chn.bhmc.dms.par.pcm.vo
            ,chn.bhmc.dms.par.pmm.vo
            ,chn.bhmc.dms.par.stm.vo
            ,chn.bhmc.dms.par.cpm.vo

            ,chn.bhmc.dms.security.vo

            ,chn.bhmc.dms.sal.aap.vo
            ,chn.bhmc.dms.sal.acc.vo
            ,chn.bhmc.dms.sal.acu.vo
            ,chn.bhmc.dms.sal.ass.vo
            ,chn.bhmc.dms.sal.bsc.vo
            ,chn.bhmc.dms.sal.btc.vo
            ,chn.bhmc.dms.sal.bto.vo
            ,chn.bhmc.dms.sal.cer.vo
            ,chn.bhmc.dms.sal.cnt.vo
            ,chn.bhmc.dms.sal.ctl.vo
            ,chn.bhmc.dms.sal.ctm.vo
            ,chn.bhmc.dms.sal.cmm.vo
            ,chn.bhmc.dms.sal.cmp.vo
            ,chn.bhmc.dms.sal.dlr.vo
            ,chn.bhmc.dms.sal.dlv.vo
            ,chn.bhmc.dms.sal.dsc.vo
            ,chn.bhmc.dms.sal.exc.vo
            ,chn.bhmc.dms.sal.fas.vo
            ,chn.bhmc.dms.sal.fim.vo
            ,chn.bhmc.dms.sal.fin.vo
            ,chn.bhmc.dms.sal.inc.vo
            ,chn.bhmc.dms.sal.inv.vo
            ,chn.bhmc.dms.sal.inf.vo
            ,chn.bhmc.dms.sal.lom.vo
            ,chn.bhmc.dms.sal.mst.vo
            ,chn.bhmc.dms.sal.obt.vo
            ,chn.bhmc.dms.sal.ond.vo
            ,chn.bhmc.dms.sal.orc.vo
            ,chn.bhmc.dms.sal.orm.vo
            ,chn.bhmc.dms.sal.prm.vo
            ,chn.bhmc.dms.sal.rpt.vo
            ,chn.bhmc.dms.sal.sti.vo
            ,chn.bhmc.dms.sal.stm.vo
            ,chn.bhmc.dms.sal.svi.vo
            ,chn.bhmc.dms.sal.svo.vo
            ,chn.bhmc.dms.sal.trm.vo
            ,chn.bhmc.dms.sal.uco.vo
            ,chn.bhmc.dms.sal.usc.vo
            ,chn.bhmc.dms.sal.uva.vo
            ,chn.bhmc.dms.sal.veh.vo
            ,chn.bhmc.dms.sal.rcp.vo
            ,chn.bhmc.dms.sal.com.vo


            ,chn.bhmc.dms.ser.est.vo
            ,chn.bhmc.dms.ser.cal.vo
            ,chn.bhmc.dms.ser.rev.vo
            ,chn.bhmc.dms.ser.res.vo
            ,chn.bhmc.dms.ser.ro.vo
            ,chn.bhmc.dms.ser.rcv.vo
            ,chn.bhmc.dms.ser.svi.vo
            ,chn.bhmc.dms.ser.cmm.vo
            ,chn.bhmc.dms.ser.wac.vo
            ,chn.bhmc.dms.ser.ins.vo
            ,chn.bhmc.dms.ser.rpt.vo
            ,chn.bhmc.dms.ser.kanban.vo

            ,chn.bhmc.dms.mis.tot.vo
            ,chn.bhmc.dms.mis.tdm.vo
            ,chn.bhmc.dms.mis.tdp.vo
            ,chn.bhmc.dms.mis.tdt.vo
            ,chn.bhmc.dms.mis.tis.vo
            ,chn.bhmc.dms.mis.tmp.vo
            ,chn.bhmc.dms.mis.tsp.vo
            ,chn.bhmc.dms.mis.tdf.vo
            ,chn.bhmc.dms.mis.tds.vo
            ,chn.bhmc.dms.mis.tpm.vo
            ,chn.bhmc.dms.mis.tdr.vo
            ,chn.bhmc.dms.mis.tss.vo
            ,chn.bhmc.dms.mis.rpt.vo" />
    </bean>

    <!-- MapperConfigurer setup for MyBatis Database Layer with @Mapper("deptMapper") in DeptMapper Interface -->
<!--     <bean class="able.com.mybatis.MapperConfigurer"> -->
<!--         <property name="basePackage" value="able.**.service.dao" /> -->
<!--         <property name="sqlSessionFactoryBeanName" value="sqlSession"/> -->
<!--     </bean> -->

<!--     <bean class="able.com.mybatis.MapperConfigurer"> -->
<!--         <property name="basePackage" value="egovframework.**.service.impl" /> -->
<!--         <property name="sqlSessionFactoryBeanName" value="sqlSession"/> -->
<!--     </bean> -->

    <bean class="able.com.mybatis.MapperConfigurer">
        <property name="basePackage" value="chn.bhmc.dms.**.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSession"/>
    </bean>
</beans>
