<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.performance</id>
    <name><![CDATA[性能优化插件]]></name>
    <active>yes</active>
    <hidden>no</hidden>
    <version>1.8</version>
    <env-version>8.0</env-version>
    <jartime>2017-4-16</jartime>
    <vendor>finereport</vendor>
    <description><![CDATA[性能优化插件合集，请在数据决策系统->管理系统->性能插件中管理各种性能插件功能]]></description>
    <change-notes><![CDATA[
         <p>[2017-2-21]修改管理页面交互风格</p>
         <p>[2017-2-23]添加对系统版本不支持的功能的描述</p>
         <p>[2017-3-17]修复卸载性能插件删除的问题</p>
         <p>[2017-4-17]增加带缓存的格子关系运算</p>
    ]]></change-notes>
    <extra-core>
        <LocaleFinder class="com.fr.plugin.performance.base.locale.PerformanceLocaleFinder"/>
    </extra-core>
    <extra-platform>
        <PlateProvider class="com.fr.plugin.performance.base.manager.PerformancePluginPlateProvider"/>
    </extra-platform>
    <dependence>
        <Item key="com.fr.plugin.performance.submitbatch" type="plugin"
              location="com/fr/plugin/performance/submitbatch/plugin.xml"/>
        <Item key="com.fr.plugin.performance.showimage" type="plugin"
              location="com/fr/plugin/performance/showimage/plugin.xml"/>
        <Item key="com.fr.plugin.performance.fasttree" type="plugin"
              location="com/fr/plugin/performance/fasttree/plugin.xml"/>
        <Item key="com.fr.plugin.performance.pdfstream" type="plugin"
              location="com/fr/plugin/performance/pdfstream/plugin.xml"/>
        <Item key="com.fr.plugin.performance.imageparser" type="plugin"
              location="com/fr/plugin/performance/imageparser/plugin.xml"/>
        <Item key="com.fr.plugin.performance.datasourcepool" type="plugin"
              location="com/fr/plugin/performance/datasourcepool/plugin.xml"/>
        <Item key="com.fr.plugin.performance.cachedprocess" type="plugin"
              location="com/fr/plugin/performance/cachedprocess/plugin.xml"/>
        <Item key="com.fr.plugin.performance.newtab" type="plugin"
              location="com/fr/plugin/performance/dzstartemptyfile/plugin.xml"/>
        <Item key="com.fr.plugin.performance.maintainsession" type="plugin"
              location="com/fr/plugin/performance/keepxportsession/plugin.xml"/>
        <Item key="com.fr.plugin.performance.multisheetcalculate" type="plugin"
              location="com/fr/plugin/performance/multisheetcalculate/plugin.xml"/>
        <Item key="com.fr.plugin.performance.reducecalculation" type="plugin"
              location="com/fr/plugin/performance/reducecalculation/plugin.xml"/>
        <Item key="com.fr.plugin.performance.lazyreadresource" type="plugin"
              location="com/fr/plugin/performance/lazyreadresource/plugin.xml"/>
        <Item key="com.fr.plugin.performance.newexecutetool" type="plugin"
              location="com/fr/plugin/performance/newexecutetool/plugin.xml"/>
    </dependence>
    <pre-uninstall class="com.fr.plugin.performance.base.manager.PerformancePreUninstall"/>
</plugin>