<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.performance.submitbatch</id>
    <name><![CDATA[批量提交]]></name>
    <active>yes</active>
    <hidden>yes</hidden>
    <version>1.1</version>
    <env-version>8.0</env-version>
    <jartime>2017-02-16</jartime>
    <vendor>finereport.loy</vendor>
    <description><![CDATA[采用批量的方式进行数据库提交,数据量大时提交速度较原来有很大的提升]]></description>
    <change-notes><![CDATA[]]></change-notes>
    <extra-designer>
        <SubmitProvider class="com.fr.plugin.performance.submitbatch.BatchSubmitProvider"/>
        <JavaScriptActionProvider class="com.fr.plugin.performance.submitbatch.BatchJavaScriptActionProvider"/>
    </extra-designer>
    <extra-core>
        <WebService class="com.fr.plugin.performance.submitbatch.service.BatchDBCommitService"/>
        <TransferPackageProvider class="com.fr.plugin.performance.submitbatch.TransferPackageImpl"/>
    </extra-core>
    <extra-report>
        <JavaScriptFileHandler class="com.fr.plugin.performance.submitbatch.js.BatchJavaScriptHandler"/>
    </extra-report>
</plugin>